*.exp {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}
.exp button {
  cursor: pointer;
  border: 1px solid #4caf50;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 50px;
  border-radius: 5px;
}

.exp div {
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
}
.expContainer {
  text-align: center;
  margin-top: 50px;
}
