*html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8a8282;
}

button[id="1"] {
  cursor: pointer;
  border: 1px solid #c74d4d;
  padding: 10px 20px;
  margin: 30px;
  background-color: #c74d4d;
  color: white;
  font-size: 30px;
  border-radius: 5px;
}

button[id="2"] {
  cursor: pointer;
  border: 1px solid #4c79c7;
  padding: 10px 20px;
  margin: 30px;
  background-color: #4c79c7;
  color: white;
  font-size: 30px;
  border-radius: 5px;
}
button[id="3"] {
  cursor: pointer;
  border: 1px solid #6acc7a;
  padding: 10px 20px;
  margin: 30px;
  background-color: #6acc7a;
  color: white;
  font-size: 30px;
  border-radius: 5px;
}

div {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

h2 {
  background-color: black;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 40px;
  height: fit-content;
  width: fit-content;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
